.container {
    overflow-x: hidden;
    width: var(--main-width);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.header-logo span {
    opacity: .4;
    margin-right: 5px;
    font-size: 14px;
}

.header-logo img {
    height: 60px;
}

textarea, input {
    width: 100%;
    margin: 12px 0px;
    background: none;
    color: var(--accent);
    border: none;
    outline: none;
    font-family: 'MuseoSansRounded';
    font-size: 30px;
    font-weight: 700;
    resize: none;
}

textarea {
    height: 250px;
}

textarea::placeholder, input::placeholder {
    color: var(--text);
    opacity: .3;
}

.description-input p, .name-input p {
    text-align: right;
    opacity: .3;
}

.section-container {
    position: relative;
    width: var(--main-width);
    height: 500px;
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--main-width);
    transform: translateX(120%);
    transition: all .3s ease 0s;
}

.section.active {
    transform: translateX(0);
}

.section .amount-input {
    display: flex;
    align-items: center;
    gap: .5em;
    color: var(--accent);
}

.section .action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section .action-bar button {
    transition: background-color .3s ease 0s;
}

.section .action-bar button:disabled {
    background-color: var(--on-background-dark);
}

.section .action-bar button:disabled > * {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.section .action-bar .next {
    width: fit-content;
    height: fit-content;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .action-bar .custom-amount {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 14px;
    font-weight: 500;
}